<footer>
  <div class="mx-auto mt-20 mb-10 max-w-7xl px-4 md:px-6 lg:mt-32 lg:px-8 2xl:max-w-8xl">
    <p class="text-center">
      Copyright &copy; {new Date().getFullYear()} Better Dev Screencasts — Built with <a
        class="underline hover:text-indigo-500"
        href="https://keystatic.thinkmill.com.au"
      >
        Keystatic
      </a>, <a class="underline hover:text-indigo-500" href="https://astro.build">Astro</a> and <a
        class="underline hover:text-indigo-500"
        href="https://tailwindcss.com">Tailwind CSS</a
      > by <a class="underline hover:text-indigo-500" href="https://simonswiss.com">simonswiss</a>.
    </p>
  </div>
</footer>
